:root{
    --primary: #d8d8d8;
    --pri-hover: #e9e9e9;
    --secondary: #5A646E;
    --dark: #3F454D;
    --dark-hover: #4e5660;
    --accent: #dd8f00;
    --acc-hover: #ffa500;
}

* {
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: black;
    color: var(--primary);
    font-size: 40px;
    font-family: 'Oswald', sans-serif;;
}

button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    font-size: 40px;
    color: var(--primary);
}

.main-container{
    display: flex;
    width: 100%;
    height: 95vh;
    justify-content: center;
    align-items: center;
}

main{
    width: 500px;
    height: 750px;
}

div{
    height: 80%;
}

.screen{
    display: flex;
    height: 20%;
    justify-content: flex-end;
    width: 90%;
    font-size: 90px;
    
}

.key-container{
    width: auto;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(5, 1fr);
   align-content: center;
   justify-content: space-between;
   
}

.key-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 80%;
}

.top-row{
    background-color: var(--primary);
    color: black;
}

.top-row button{
    color: black;
}

.top-row:hover{
    background-color: var(--pri-hover);
}

.num{
   background-color: var(--dark);
}

.num:hover{
    background-color: var(--dark-hover);
}

.operator{
  background-color: var(--accent);
}

.operator:hover{
    background-color: var(--acc-hover);
}

#zero{
    grid-column: 1/3;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;

}

#decimal{
/*     grid-column: 3/4;
    grid-row: 3;
 */}